* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1 {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header h1 {
    display: none; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }

.navbar .nav-list {
  display: flex;
  align-items: center; }
  .navbar .nav-list .nav-item {
    flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .qq-slider-wrap {
    display: flex; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a img {
        width: 100%;
        display: block; }

body {
  background: #f4f4f4; }
